@page "/company/{id}"
@using Services
@using Models
@inject ICompanyService CompanyService

@if (CompanyModel == null)
{
    <p><em>Loading Company...</em></p>

}
else
{
    <h4>Company Name: @CompanyModel.Name</h4>
    <h5>Description: @CompanyModel.Description</h5>
    <h6 >Predictions </h6>
    <div style=" height:800px;overflow-y:scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>LowPrice</th>
                    <th>HighPrice</th>
                    <th>OpenPrice</th>
                    <th>ClosePrice</th>
                    <th>Volume</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var prediction in CompanyModel.Predictions)
                {
                    <tr class="predictions">
                        <td>@prediction.Date</td>
                        <td>@prediction.LowPrice</td>
                        <td>@prediction.HighPrice</td>
                        <td>@prediction.OpenPrice</td>
                        <td>@prediction.ClosePrice</td>
                        <td>@prediction.Volume</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

}

@code {
    private Models.Company CompanyModel { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected async override Task OnInitializedAsync()
    {
        CompanyModel = await CompanyService.GetCompany(Int32.Parse(Id));
    }
}
<style>
    .company {
        color: white;
    }

    .table {
        color: whitesmoke;
    }
</style>
