@page "/Login"
@using Models
@using Services
@inject IUserService AuthorizationService
<h1>Login</h1>
<EditForm Model="@user" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group ">
        <label class="label-text">Email :</label>
        <div>
            <InputText @bind-Value="@user.Username" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => user.Username)" />
        </div>
    </div>
    <div class="form-group">
        <label class="label-text">Password :</label>
        <div>
            <InputText type="password" @bind-Value="@user.Password" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
    </div>

    <button type="submit" @onclick="() => OnFormSubmit()" class="btn btn-primary">
        @ButtonText
    </button>
</EditForm>

@code {

    public LoginModel user = new LoginModel();

    public string ButtonText { get; set; } = "Login";

    public EventCallback OnValidSubmit { get; set; }

    public async void OnFormSubmit()
    {
          var x = await AuthorizationService.Login(user);
    }

}



<style>
    h1 {
        color: navajowhite;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:100px;
        align-self:center;
        margin-top: 0px;
    }
    .login-body {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .label-text {
        font-size: 30px;
        color: lightgoldenrodyellow
    }
    .form-control {
        width: 300px;
        height: 40px;
        border-radius: 25px;
    }

    #login-btn {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        margin-top: 30px;
        width: 200px;
        height: 45px;
        transition: all 0.5s;
        cursor: pointer;
    }

        #login-btn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            #login-btn span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        #login-btn:hover span {
            padding-right: 25px;
       }


</style>
