@page "/Login"
@using Models
<h1>Login</h1>
<EditForm Model="@user" OnValidSubmit="@OnValidSubmit" >
    <DataAnnotationsValidator />
    <div class="form-group ">
        <label>Email :</label>
        <div>
            <InputText @bind-Value="@user.Email" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => user.Email)" />
        </div>
    </div>
    <div class="form-group">
        <label>Password :</label>
        <div>
            <InputText  type="password" @bind-Value="@user.Password" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
    </div>
 
    <button type="submit" class="btn btn-primary">
        @ButtonText
    </button>
</EditForm>

@code {

    public UserLogin user = new UserLogin();

    public string ButtonText { get; set; } = "Register";

    public EventCallback OnValidSubmit { get; set; }



}