@page "/Register"
@using Models
@using Services
@inject IUserService AuthorizationService
<h1>Register</h1>
<EditForm Model="@registerUser" OnValidSubmit="@OnValidSubmit" class="section-1-container section-container">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Username :</label>
        <div>
            <InputText @bind-Value="@registerUser.Username" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => registerUser.Username)" />
        </div>
    </div>
    <div class="form-group">

        <label>Email :</label>
        <div>
            <InputText @bind-Value="@registerUser.Email" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => registerUser.Email)" />
        </div>
    </div>
    <div class="form-group">
        <label> Password</label>
        <div>
            <InputText  type="password" @bind-Value="@registerUser.Password" class="form-control col-sm-5" />
            <ValidationMessage For="@(() => registerUser.Password)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label class="label-text">Birthday</label>
            <div>
                <InputDate @bind-Value="@user.Birthday" class="form-control col-sm-5" />
                <ValidationMessage For="@(() => user.Birthday)" />
            </div>
        </div>
    </div>
    <button id="register-btn" type="submit" class="btn btn-primary">
    
    <button type="submit" @onclick=" () => OnFormSubmit()" class="btn btn-primary">
        @ButtonText
    </button>
</EditForm>

@code {

    public RegisterModel registerUser = new RegisterModel();
    public string ButtonText { get; set; } = "Register";

    public EventCallback OnValidSubmit { get; set; }

    public async void OnFormSubmit()
    {
        await AuthorizationService.Register(registerUser);
    }

}


<style>
    h1 {
        color: navajowhite;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:100px;
        align-self:center;
        margin-top: 0px;
    }
    .register-body {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .label-text {
        font-size: 30px;
        color: lightgoldenrodyellow
    }
    .form-control {
        width: 300px;
        height: 40px;
        border-radius: 25px;
    }

    #register-btn {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        margin-top: 30px;
        width: 200px;
        height: 45px;
        transition: all 0.5s;
        cursor: pointer;
        margin-right: 30px;
    }

        #register-btn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            #register-btn span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        #register-btn:hover span {
            padding-right: 25px;
        }

            #register-btn:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>